---
export async function getStaticPaths({paginate}) {
  const allBlogs = Astro.fetchContent('$/pages/posts/*.md');
  return paginate(allBlogs, {pageSize: 5});
}

const {page} = Astro.props;
import BaseLayout from '$/layouts/DefautLayout.astro';
import Footer from '$/components/Footer.svelte';
---


<BaseLayout title="The Hub">

  <div class="w-full lg:min-h-screen items-center bg-white grid grid-cols-1 lg:grid-cols-3 gap-0" id="intro">
    <div class="w-full col-span-1 lg:col-span-2 lg:inline-block px-10 z-10">
      <div class="py-6">
        <h2 class="text-6xl lg:text-9xl tracking-widest font-bold leading-snug">Hillcroft<span class="text-yellow-500">.</span></h2>
        <h3 class="text-xl lg:text-4xl tracking-widest font-bold leading-snug">Our Blog</h3>
      </div>
      <div class="py-6">
        <p class="font-serif tracking-wider lg:tracking-widest leading-widest text-lg italic pt-6 text-gray-900">
            Occasionally we like to write about what's going on at the Lacrosse Club, The London Lacrosse scene or occasional match report. Here you'll find a collection of our musings over the years...
        </p>
        <ul class="font-serif tracking-wider lg:tracking-widest leading-widest text-large pt-6">
        {page.data.map((post) => (
          <li>
            <a href="{post.url}"><strong class="text-yellow-500 text-xl">{post.title} </strong>,  {post.date} by {post.author}</a>
          </li>
        ))}
        </ul>
      </div>
    </div>
    <div class="col-span-1 h-full bg-black z-0">
      <img class="object-cover h-full" src="/images/hillcroft_lacrosse_club_london_stash.jpg" alt="Hillcroft Lacrosse London Club Intro">
    </div>
  </div>
  
  <Footer />
</BaseLayout>